#bdtxt{
    padding-top: 20%;
    padding-bottom: 20%;
}
.rotating-image {
    width: 200px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    animation: rotateYAnimation 5s infinite linear; /* Apply the animation */
    transform-style: preserve-3d; /* Ensure proper 3D transformation */
  }
  @keyframes rotateYAnimation {
    
    100% {
        transform: rotateY(-360deg);
      }
  }

#dash{
  background-image: url('../img/bgimg.jpg');
  background-color: rgba(0, 0, 0, 0.185);
  
}  

#img{
  background-color: rgb(161, 18, 18);
}