
#linklist {
  list-style-type: none;
  
}
.demo {
  color: rgb(0, 0, 0);


  /* box-shadow: 3px 2px 4px rgba(201, 201, 201, 0.795); */

  font-size: 100px;
  border-radius: 10px;
  background-color: white;
  
}
.demo:hover {
  /* box-shdemodow: 3px 2px 4px rgba(175, 175, 175, 0.795); */
  background-color: rgb(228, 54, 54);
}

#link{
    font-size: 25px;
    list-style-type: none;


}
#list{
  list-style-type: none;
  padding-top: 20px;
}


