
#text {
    
    color: rgb(8, 8, 8);
    background-color: rgb(255, 255, 255);
    width: 80vh;
    box-shadow: 2px 4px 8px 4px rgba(22, 22, 22, 0.5);
    border-radius: 2vh;
}

.singup {
    color: rgb(0, 0, 0);
    text-align: center;
    /* background-color: aqua; */
    /* box-shadow: 3px 2px 4px rgba(201, 201, 201, 0.795); */
  
    /* font-size: 100px; */
    border-radius: 10px;
  }

#p{
    padding: 2.10%;
}

